# =========================
# Node / Electron
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Build outputs
# =========================
dist/
out/
build/
win-unpacked/
*.exe
*.msi
*.dmg
*.pkg
*.AppImage
*.blockmap
*.nsis.7z

# =========================
# Electron Builder
# =========================
builder-effective-config.yaml

# =========================
# Runtime folders (creados en ejecución)
# =========================
uploads/
tmp/
app.log

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Cache
# =========================
.cache/
.temp/
.tmp/
dist.zip
dist/
